<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jansevak</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        label {
            color: white;
            font-size: 1.3rem;
        }
    </style>
</head>

<body>
    <header class="header">
        <a href="{{url_for('index')}}" class="logo"><i class="fas fa-heartbeat"></i> jansevak</a>
        <nav class="navbar">
            {% if username %}
            <a href="{{url_for('index')}}#home">Home</a>
            <a href="{{url_for('index')}}#services">services</a>
            <a href="{{url_for('index')}}#book">Book</a>
            <a href="{{url_for('index')}}#scans">Scans</a>
            <a href="{{url_for('index')}}#blogs">Blogs</a>
            <a href="{{url_for('index')}}#about">about</a>
            <a href="{{url_for('profile')}}"><span class="fas fa-user"></span></a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
    <section class="book" id="book">
        <h1 class="heading" style="margin-top: 8rem;"> <span>Book</span> Appointment</h1>
        <div class="glass-row" style="margin-top:40px;">
            <form action="{{ url_for('book_appointment') }}" method="post">
                <a href="{{url_for('index')}}" class="logo"><i class="fas fa-heartbeat"></i> Jansevak</a><br><br>
                <label for="name">Enter your name:</label>
                <input type="text" placeholder="Patient Name" class="box" id="Name" name="name" required>
                <label for="name">Enter your Age:</label>
                <input placeholder="Age" class="box" id="Age" type="number" name="age" required>
                <label for="name">Enter your Blood Group:</label>
                <input placeholder="Blood group" class="box" id="Blood group" type="text" name="blood_group" required>
                <label for="name">Select Preferred time slot :</label>
                <select name="time_slot" required>
                    <option value="Morning">Morning (8AM-11AM)</option>
                    <option value="Afternoon">Afternoon (1PM-4PM)</option>
                    <option value="Evening">Evening (5PM-8PM)</option>
                </select><br><br>
                <label for="name">Enter your Phone Number:</label>
                <input placeholder="Phone Number" class="box" id="Phone Number" type="text" name="phone_number"
                    required>
                <label for="name">Enter your Email:</label>
                <input placeholder="Email" class="box" id="Email" type="email" name="email" required>
                <label for="name">Select type of doctor :</label>
                <select name="type_of_doctor" required>
                    {% for doctor_type in doctor_types %}
                    <div class="select_option">
                        <option value="{{ doctor_type }}">{{ doctor_type }}</option>
                    </div>
                    {% endfor %}
                </select><br>

                <input type="submit" value="Book" class="btn">
                <p style="color: white; font-size: 1.3rem; margin-top: 2rem;">By continuing, you agree to Jansevak's <a
                        style="color: #16a085;" href="{{url_for('policy')}}">Terms of Service</a> Opens a new tab and
                    acknowledge you've read our Privacy
                    Policy. Notice at collection.</p>
            </form>
        </div>
    </section>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="{{url_for('index')}}#home"><i class="fas fa-chevron-right"></i> home</a>
                <a href="{{url_for('index')}}#services"><i class="fas fa-chevron-right"></i> services</a>
                <a href="{{url_for('index')}}#book"><i class="fas fa-chevron-right"></i>book</a>
                <a href="{{url_for('index')}}#scans"><i class="fas fa-chevron-right"></i> scans</a>
                <a href="{{url_for('index')}}#blogs"><i class="fas fa-chevron-right"></i> blogs</a>
                <a href="{{url_for('index')}}#about"><i class="fas fa-chevron-right"></i> about</a>
            </div>
            <div class="box">
                <h3>our services </h3>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>


            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="" class="disabled"><i class="fas fa-phone"></i>+91 70441 35575</a>
                <a href="" class="disabled"><i class="fas fa-phone"></i> +91 62916 53332</a>
                <a href="mailto:21051302@kiit.ac.in"><i class="fas fa-envelope"></i>21051302@kiit.ac.in</a>
                <a href="mailto:21051706@kiit.ac.in"><i class="fas fa-envelope"></i>21051706@kiit.ac.in</a>
                <a href="" class="disabled"><i class="fas fa-map-marker-alt"></i>WB, INDIA</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.linkedin.com/in/abhishek-mallick09/"><i class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://www.linkedin.com/in/deepraj-bera-b64996231/"><i
                        class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://github.com/Abhishek-Mallick"><i class="fab fa-github"></i>Github</a>
                <a href="https://github.com/deepraj21"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>

        <div class="credit">made with 💚 | Jansevak @ 2023</div>
    </section>
    <script src="../static/js/script.js"></script>

</body>

</html>