<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jansevak</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

    <header class="header">
        <a href="" class="logo"><i class="fas fa-heartbeat"></i> jansevak</a>
        <nav class="navbar">

            {% if username %}
            <a href="#home">Home</a>
            <a href="#blogs">Blogs</a>
            <a href="#about">about</a>
            <a href="{{url_for('doctor_patients')}}">patients</a>
            <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}

        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>

    <section class="home" id="home">
        <div class="image">
            <img src="../static/images/doctors-animate.svg" alt="">

        </div>
        <div class="content">
            <h3>Welcome to <span style="color: #16a085;">Jansevak</span> . <br> <span style="font-size: 4.0rem;">your
                    Personalized Healthcare telemedicine assistant platform.</span></h3>

            <p>Artificial Intelligence (AI) has revolutionized the field of telemedicine and healthcare, offering
                innovative solutions
                to enhance patient care, improve efficiency, and streamline various processes.</p>

        </div>
    </section>

    <section class="about">
        <h1 class="heading">Doctor <span> Profile </span></h1>
        <div class="row">
            <div class="image">
                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/male-doctor-4706082-3915264.png" alt="">

            </div>
            <div class="content">
                <h3>Username: <span style="font-size: 2.5rem;">{{username}}</span></h3>
                <h3>Full name: <span style="font-size: 2.5rem;">Dr. Abhishek Mallick</span></h3>
                <h3>Age: <span style="font-size: 2.5rem;">25</span></h3>
                <h3>Phone Number: <span style="font-size: 2.5rem;">+91 98765 43458</span></h3>
                <h3>Email: <span style="font-size: 2.5rem;">doc_child@gmail.com</span></h3>
                <h3>Doctor Type: <span style="font-size: 2.5rem;">child</span></h3>


            </div>
        </div>
    </section>

    {% if appointments %}
    <section class="book" id="book">
        <h1 class="heading">Appointment <span>Requests: </span></h1>
        <div class="glass-row-book">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>

                        <th>Time Slot</th>


                        <th>Status</th>
                        <th>Action</th>
                        <th>Prescribe</th>

                    </tr>
                </thead>
                {% for appointment in appointments %}
                {% if appointment.status == 'Pending' %}
                <tbody>
                    <tr>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.age }}</td>

                        <td>{{ appointment.time_slot }}</td>


                        <td>{{ appointment.status }}</td>
                        <td>
                            <a href="{{ url_for('approve_appointment', appointment_id=appointment.id) }}">Approve</a>

                        </td>
                        <td>

                            <a href="{{ url_for('doctor_patients') }}" class="btn">Prescribe</a>

                        </td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </section>
    {% else %}
    <h1 class="heading">No appointment requests found.</h1>
    {% endif %}



    <section class="blogs" id="blogs">
        <h1 class="heading">our <span> Blogs</span></h1>
        <div class="box-container">
            <div class="glass-box">
                <div class="image">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/health-checkup-5629721-4695022.png"
                        alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="" class="disabled"><i class="fas fa-calendar"></i> 25th dec, 2023</a>
                        <a href="{{url_for('admin')}}"><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>Transforming Healthcare</h3>
                    <p>Transforming Healthcare: The Human Touch of AI and Telemedicine.</p>
                    <a href="{{url_for('Transforming_Healthcare')}}" class="btn">Read more <span
                            class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/healthy-life-6358794-5272656.png" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="" class="disabled"><i class="fas fa-calendar"></i> 26th dec, 2023</a>
                        <a href="{{url_for('admin')}}"><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>Comprehensive Guide to Health</h3>
                    <p>A Comprehensive Guide to Holistic Health: Nurturing Your Mind and Body.</p>
                    <a href="{{url_for('Holistic_Health')}}" class="btn">Read more <span
                            class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/eating-healthy-food-5071179-4263644.png?f=webp"
                        alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="" class="disabled"><i class="fas fa-calendar"></i> 27th dec, 2023</a>
                        <a href="{{url_for('admin')}}"><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>The Power of a Healthy Diet</h3>
                    <p>"Nourishing Your Body: The Power of a Healthy Diet</p>
                    <a href="{{url_for('Nourishing_Body')}}" class="btn">Read more <span
                            class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/man-doing-exercise-with-dumbells-4075152-3374986.png?f=webp"
                        alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="" class="disabled"><i class="fas fa-calendar"></i> 27th dec, 2023</a>
                        <a href="{{url_for('admin')}}"><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>The Importance of Games</h3>
                    <p>The Importance of Games in Maintaining Physical and Mental Health</p>
                    <a href="{{url_for('Importance_of_Games')}}" class="btn">Read more <span
                            class="fas fa-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading">About <span> Us </span></h1>
        <div class="row">
            <div class="image">
                <img src="../static/images/about-us-page-animate.svg" alt="">

            </div>
            <div class="content">
                <h3>we take care of your healthy life.</h3>
                <p>We are a Group of two undergrad student of KIIT, Bhubaneswar, Odisha, INDIA.</p>
                <p>Still learning and have a great interest in developing and integrating different types of
                    technologies.
                    Worked with various Tech stacks and participated in numerous events, hackathons and competetions and
                    the
                    count will never stop. <br> Want to know more about us ? Click below to explore:</p>
                <a href="{{url_for('admin')}}" class="btn">Know More <i class="fas fa-chevron-right"></i></a><br>

            </div>
        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-chevron-right"></i> home</a>
                <a href="#blogs"><i class="fas fa-chevron-right"></i> blogs</a>
                <a href="#about"><i class="fas fa-chevron-right"></i> about</a>


            </div>
            <div class="box">
                <h3>our services </h3>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>


            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="" class="disabled"><i class="fas fa-phone"></i>+91 70441 35575</a>
                <a href="" class="disabled"><i class="fas fa-phone"></i> +91 62916 53332</a>
                <a href="mailto:21051302@kiit.ac.in"><i class="fas fa-envelope"></i>21051302@kiit.ac.in</a>
                <a href="mailto:21051706@kiit.ac.in"><i class="fas fa-envelope"></i>21051706@kiit.ac.in</a>
                <a href="" class="disabled"><i class="fas fa-map-marker-alt"></i>WB, INDIA</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.linkedin.com/in/abhishek-mallick09/"><i class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://www.linkedin.com/in/deepraj-bera-b64996231/"><i
                        class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://github.com/Abhishek-Mallick"><i class="fab fa-github"></i>Github</a>
                <a href="https://github.com/deepraj21"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>

        <div class="credit">made with 💚 | Jansevak @ 2023</div>
    </section>


    <script src="./static/js/script.js"></script>

</body>

</html>