<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Registration</title>
</head>

<body>
    <h1>Doctor Registration</h1>

    <form method="post" action="{{ url_for('doctor_register') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="email">email :</label>
        <input type="email" name="email" required>

        <label for="type_of_doctor">Type of Doctor:</label>
        <input type="text" name="type_of_doctor" required>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</body>

</html>