<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jansevak</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <header class="header">
        <a href="" class="logo"><i class="fas fa-heartbeat"></i> jansevak</a>
        <nav class="navbar">

            {% if username %}
            <a href="{{url_for('index')}}#home">Home</a>
            <a href="{{url_for('index')}}#blogs">Blogs</a>
            <a href="{{url_for('index')}}#about">about</a>
            <a href="{{url_for('doctor_patients')}}">patients</a>
            <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}

        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
    <h1 class="heading" style="margin-top: 8rem;">Patients <span>List</span></h1>

    <section class="book" id="book">
        <div class="glass-row-book">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Blood Group</th>
                        <th>Time Slot</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.age }}</td>
                        <td>{{ appointment.blood_group }}</td>
                        <td>{{ appointment.time_slot }}</td>
                        <td>{{ appointment.status }}</td>
                        <td>
                            {% if appointment.status == 'Prescribed' %}
                            <a href="{{ url_for('view_prescription', appointment_id=appointment.id) }}" target="_blank">Preview Prescription</a>
                            {% else %}
                            <a href="{{ url_for('prescribe_medicine', appointment_id=appointment.id) }}"
                                class="btn btn-primary">Prescribe Medicine</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-chevron-right"></i> home</a>
                <a href="#blogs"><i class="fas fa-chevron-right"></i> blogs</a>
                <a href="#about"><i class="fas fa-chevron-right"></i> about</a>


            </div>
            <div class="box">
                <h3>our services </h3>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>


            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="" class="disabled"><i class="fas fa-phone"></i>+91 70441 35575</a>
                <a href="" class="disabled"><i class="fas fa-phone"></i> +91 62916 53332</a>
                <a href="mailto:21051302@kiit.ac.in"><i class="fas fa-envelope"></i>21051302@kiit.ac.in</a>
                <a href="mailto:21051706@kiit.ac.in"><i class="fas fa-envelope"></i>21051706@kiit.ac.in</a>
                <a href="" class="disabled"><i class="fas fa-map-marker-alt"></i>WB, INDIA</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.linkedin.com/in/abhishek-mallick09/"><i class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://www.linkedin.com/in/deepraj-bera-b64996231/"><i
                        class="fab fa-linkedin"></i>linkedin</a>
                <a href="https://github.com/Abhishek-Mallick"><i class="fab fa-github"></i>Github</a>
                <a href="https://github.com/deepraj21"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>

        <div class="credit">made with 💚 | Jansevak @ 2023</div>
    </section>


    <script src="./static/js/script.js"></script>


</body>

</html>