<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jansevak</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

    <header class="header">
        <a href="" class="logo"><i class="fas fa-heartbeat"></i> jansevak</a>
        <nav class="navbar">
            {% if username %}
            <a href="">Home</a>
            <a href="">services</a>
            <a href="">Blogs</a>
            <a href="">about</a>
            <a href="{{url_for('logout')}}">Logout</a>
            <a href=""><span class="fas fa-user"></span></a>
            <a href="">{{username}}</a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>

    <section class="home" id="home">
        <div class="image">
            <img src="../static/images/doctors-animate.svg" alt="home-page">

        </div>
        <div class="content">
            <h3>Welcome to <span style="color: #16a085;">Jansevak</span> . <br> <span style="font-size: 4.0rem;">your
                    Personalized Healthcare telemedicine assistant platform.</span></h3>
            <!-- <h3>stay healthy</h3> -->
            <p>Artificial Intelligence (AI) has revolutionized the field of telemedicine and healthcare, offering
                innovative solutions
                to enhance patient care, improve efficiency, and streamline various processes.</p>
            <a href="{{url_for('login')}}" class="btn-home">Learn more<span class="fas fa-chevron-right"></span></a>
        </div>
    </section>

    <h1 style="margin-top: 45px;" class="heading">What we<span> Provide ?</span></h1>

    <section class="icons-container">

        <div class="glass">
            <i class="fas fa-user-md"></i>
            <h3>140+</h3>
            <p>Personalized Healthcare</p>
        </div>
        <div class="glass">
            <i class="fa-solid fa-video"></i>
            <h3>1400+</h3>
            <p>Remote Patient Monitoring</p>
        </div>
        <div class="glass">
            <i class="fas fa-users"></i>
            <h3>500+</h3>
            <p>Health Equity</p>
        </div>
        <div class="glass">
            <i class="fas fa-file"></i>
            <h3>400+</h3>
            <p>Wellness Promotion</p>
        </div>
    </section>

    {% if username %}
    <section class="services" id="services">
        <h1 class="heading">services & <span>Features</span></h1>
        <div class="box-container">
            <div class="glass-box">
                <i class="fas fa-notes-medical"></i>
                <h3>free checkups</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-ambulance"></i>
                <h3>24/7 Ambulance</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-user-md"></i>
                <h3>experts doctors</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-pills"></i>
                <h3>medicines</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-procedures"></i>
                <h3>bed facility</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="glass-box">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at!</p>
                <a href="" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>

        </div>
    </section>

    <section class="doctors" id="doctors">
        <h1 class="heading">
            our <span> Doctors</span>
        </h1>
        <div class="box-container">
            <div class="glass-box">
                <img src="../static/images/doc2.jpg" alt="">
                <h3>doctor</h3>
                <span>expert</span>
                <div class="share">
                    <a href="" class="fab fa-facebook-f"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-linkedin"></a>
                    <a href="" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img src="../static/images/doc1.jpg" alt="">
                <h3>doctor</h3>
                <span>expert</span>
                <div class="share">
                    <a href="" class="fab fa-facebook-f"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-linkedin"></a>
                    <a href="" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img src="../static/images/doc3.jpeg" alt="">
                <h3>doctor</h3>
                <span>expert</span>
                <div class="share">
                    <a href="" class="fab fa-facebook-f"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-linkedin"></a>
                    <a href="" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img src="../static/images/doc4.jpg" alt="">
                <h3>doctor</h3>
                <span>expert</span>
                <div class="share">
                    <a href="" class="fab fa-facebook-f"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-linkedin"></a>
                    <a href="" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img src="../static/images/doc5.jpeg" alt="">
                <h3>doctor</h3>
                <span>expert</span>
                <div class="share">
                    <a href="" class="fab fa-facebook-f"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-linkedin"></a>
                    <a href="" class="fab fa-instagram"></a>

                </div>
            </div>

        </div>
    </section>

    <section class="blogs" id="blogs">
        <h1 class="heading">our <span> Blogs</span></h1>
        <div class="box-container">
            <div class="glass-box">
                <div class="image">
                    <img src="../static/images/bgimg2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href=""><i class="fas fa-calendar"></i> 1st may, 2021</a>
                        <a href=""><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>blog title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil.</p>
                    <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="../static/images/bgimg2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href=""><i class="fas fa-calendar"></i> 1st may, 2021</a>
                        <a href=""><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>blog title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil.</p>
                    <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="../static/images/bgimg2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href=""><i class="fas fa-calendar"></i> 1st may, 2021</a>
                        <a href=""><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>blog title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil.</p>
                    <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>
            <div class="glass-box">
                <div class="image">
                    <img src="../static/images/bgimg2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href=""><i class="fas fa-calendar"></i> 1st may, 2021</a>
                        <a href=""><i class="fas fa-user"></i> by admin</a>

                    </div>
                    <h3>blog title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil.</p>
                    <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading">About <span> Us </span></h1>
        <div class="row">
            <div class="image">
                <img src="../static/images/about-us-page-animate.svg" alt="">

            </div>
            <div class="content">
                <h3>we take care of your healthy life.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas error sit id dignissimos modi quos.
                    Cumque saepe deserunt officia doloremque.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis aperiam dolor eum suscipit quidem
                    voluptate consequatur quam labore, esse, atque incidunt ab officiis dolorum libero quos?</p>
                <a href="" class="btn">learn more <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href=""><i class="fas fa-chevron-right"></i> home</a>
                <a href=""><i class="fas fa-chevron-right"></i> services</a>
                <a href=""><i class="fas fa-chevron-right"></i> about</a>
                <a href=""><i class="fas fa-chevron-right"></i> doctor</a>
                <a href=""><i class="fas fa-chevron-right"></i> review</a>
                <a href=""><i class="fas fa-chevron-right"></i> blogs</a>


            </div>
            <div class="box">
                <h3>our services </h3>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href=""><i class="fas fa-chevron-right"></i> Chatbot</a>


            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href=""><i class="fas fa-phone"></i>+91 123456789</a>
                <a href=""><i class="fas fa-phone"></i> +91 123456789</a>
                <a href=""><i class="fas fa-envelope"></i>deep@mail.xom</a>
                <a href=""><i class="fas fa-envelope"></i>deep@mail.xom</a>
                <a href=""><i class="fas fa-map-marker-alt"></i>delhi</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href=""><i class="fab fa-facebook-f"></i>facebook</a>
                <a href=""><i class="fab fa-twitter"></i>twitter</a>
                <a href=""><i class="fab fa-instagram"></i>instagram</a>
                <a href=""><i class="fab fa-linkedin"></i>linkedin</a>
                <a href=""><i class="fab fa-pinterest"></i>pinterest</a>
            </div>
        </div>

        <div class="credit">created by <span>Deepraj</span> | all rigths reserved</div>
    </section>

    {% else %}

    <div class="glass-hide">
        <br><br><br>
        <h1 class="heading">want to <span>know more ?</span></h1>
        <!-- <h1 class="heading">Explore our <span>all Features !</span></h1> -->
        <a href="{{url_for('login')}}" class="btn" style="font-weight: 800;">Login to explore<span
                class="fas fa-chevron-right"></span></a>
    </div>

    {% endif %}

    <script src="./static/js/script.js"></script>

</body>

</html>