<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jansevak</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <section class="home" id="home">

        <div class="content">
            <center>
                <h3>Privacy Policy for Jansevak</h3>
            </center>
            <center>
                <p style="font-size: 2.7rem; font-weight: 800;">AI-Based Personalized Telemedicine Platform</p>
            </center>

            <p>Welcome to Jansevak, an AI-based personalized telemedicine platform. At Jansevak, we are committed to
                ensuring the
                privacy and security of your personal information. This Privacy Policy outlines how we collect, use,
                disclose, and
                protect your data when you use our website and services.<br><br>

                <span style="font-size: 2.7rem; font-weight: 800;">1. Information We Collect:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. Personal Information:</span><br>

                We collect information provided by you during registration, including your name, contact details, and
                other necessary information.Your health records, medical history, and relevant details are collected to
                facilitate personalized telemedicine consultations.</span> <br>
                <span style="font-size: 2.0rem; font-weight: 600;">b. Usage Information:</span><br>

                We gather data about your interactions with the platform, such as log files, device information, and
                usage patterns, to
                enhance our services.
                <br><br>
                <span style="font-size: 2.7rem; font-weight: 800;"> 2. How We Use Your Information:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. Personalized Healthcare:</span><br>

                Your health records and information are utilized to provide personalized telemedicine consultations and
                medical advice.<br>
                <span style="font-size: 2.0rem; font-weight: 600;"> b. Improvement of Services:</span><br>

                We analyze user data to enhance our platform's functionality, usability, and overall user
                experience.<br><br>
                <span style="font-size: 2.7rem; font-weight: 800;">3. Data Security:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. Secure Storage:</span><br>

                All data, including health records and credentials, is stored securely using industry-standard
                encryption protocols to
                prevent unauthorized access.
                <span style="font-size: 2.0rem; font-weight: 600;">b. Limited Access:</span><br>

                Only authorized personnel have access to your data, and they are bound by strict confidentiality
                agreements.<br><br>
                <span style="font-size: 2.7rem; font-weight: 800;">4. Data Sharing:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. Non-Disclosure:</span><br>

                Jansevak does not share your personal information, health records, or any other data with third-party
                platforms or
                services. <br>
                <span style="font-size: 2.0rem; font-weight: 600;">b. Legal Compliance:</span><br>

                We may disclose information if required by law, in response to legal requests, or to protect our rights
                and interests. <br><br>
                <span style="font-size: 2.7rem; font-weight: 800;">5. Consent and Control:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. User Control:</span><br>

                You have the right to access, modify, or delete your personal information. You can manage your
                preferences through your
                account settings.<br>
                <span style="font-size: 2.0rem; font-weight: 600;">b. Opt-out:</span><br>

                You may choose to opt-out of certain data collection and communications by adjusting your preferences.
                <br><br>
                <span style="font-size: 2.7rem; font-weight: 800;">6. Changes to Privacy Policy:</span><br>

                <span style="font-size: 2.0rem; font-weight: 600;">a. Notification:</span><br>

                Any changes to our Privacy Policy will be communicated through the website or via email. Continued use
                of Jansevak
                implies acceptance of these changes.<br><br>
                <span style="font-size: 2.7rem; font-weight: 800;">7. Contact Us:</span><br>

                If you have any questions or concerns regarding our Privacy Policy, please contact us at
                [21051706@kiit.ac.in].<br>

                By using Jansevak, you agree to the terms outlined in this Privacy Policy. Thank you for trusting us
                with your
                healthcare needs.
            </p>
        </div>
    </section>
    <section class="footer">
        <div class="credit">made with 💚 | Jansevak @ 2023</div>
    </section>

</body>

</html>